@font-face {
  font-family: 'Prompt';
  src: url('./asset//font//Prompt-Regular.ttf') format('truetype');
}

body {
  font-family: 'Prompt';
}

h1 {
  color: salmon;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}